<fieldset>
  <legend><%= @zone %></legend>
  <ul>
    <li><label for="total-time">Total time:</label><span id="total-time"><%= @total_zone / 60 %> hours</span></li>
    <li><label for="unsupervised-contact-time">UCT:</label><span id="unsupervised-contact-time"><%= @unsupervised_contact_time / 60 %></span> hours</li>
    <li><label for="supervision-message">Supervision:</label><span id="supervision-message"><%= @message %></span></li>
  </ul>
</fieldset>
