<h2><%= @zone %></h2>
<ul>
  <li><b>Total time:</b><%= @total_zone / 60 %> hours</li>
  <li><b>UCT:</b> <%= @unsupervised_contact_time / 60 %> hours</li>
  <li><b>Supervision:</b><%= @message %></li>
</ul>
