<% content_for :subnav do%>
  <% render 'subnav' %>
<% end %>
<h2><%= resource_class.model_name.human %></h2>
<%= render 'show' %>

<br class="clr"/>
<%= render 'show_buttons' %>
<br class="clr"/>
<br class="clr"/>
