<%if flash[:notice]%>
<div class="notice">
<h2>Message</h2>
<br class="clr"/>
<%=flash[:notice]%>
</div>
<%elsif flash[:error]%>
<div id="error_explanation">
<h2>Error</h2>
<br class="clr"/>
 <%=flash[:error]%>
</div>
<%end%>
